<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/_header.ejs") %>
<body>
    <div class="form">
        <div class="question" id="question1">
            <p>Lorem ipsum dolor sit amet?</p>
            <div class="radio-group">
                <label class="radio">
                    <input type="radio" value="yes" name="question1">
                    Yes
                    <span></span>
                </label>
                <label class="radio">
                    <input type="radio" value="maybe" name="question1">
                    Maybe
                    <span></span>
                </label>
                <label class="radio">
                    <input type="radio" value="no" name="question1">
                    No
                    <span></span>
                </label>
            </div>
        </div>
    </div>
</body>
</html>