<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/_header.ejs") %>
<body>
    <div id="box" class="text-center">
        <button onclick="window.location.href='/form'" type="button" class="fill">match.me</button>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>