body {
    height: 100vh;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(39, 39, 39);
}

#box{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%,-45%);
}

#menuItems a{
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 5px;
    font-size: 18px;
    color: rgb(255, 50, 118);
}

#menuItems:last-child{
    margin-right: 20px;
}

#menuItems a:hover{
    color: white;
}
/*#region index match.me button */
.fill {
    font-size: 40px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    color: white;
  }
  
  .fill::after {
    content: "";
    background-color: rgb(255, 50, 118);
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .fill:hover{
    color: rgb(255, 50, 118);
    background-color: white;
    border: 1px solid rgb(255, 50, 118);
    transition: 0.2s;
  }

  .fill:hover::after {
    top: 0px;
    left: 0px;
  }
/*#endregion*/

/*#region Form*/
.form{
    height: 500px;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-60%);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    padding:30px 30px 60px 30px;
    overflow-y: scroll;
}

.form::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

.form::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.form::-webkit-scrollbar-thumb
{
	background-color: rgb(255, 50, 118);	
}

.question{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.question-text{
    margin-bottom: 0;
}
.radio{
    font-weight: 500;
    text-transform: capitalize;
    display:inline-block;
    vertical-align:middle;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.radio + .radio{
    margin-left: 20px;
}
.radio input[type="radio"]{
    display: none;
}
.radio span{
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 3px solid rgb(255, 50, 118);
    display: block;
    position: absolute;
    left: 0;
    top:6px;
}
.radio span::after{
    content: "";
    height: 7px;
    width: 7px;
    background-color: rgb(255, 50, 118);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%) scale(0);
    border-radius: 50%;
    transition: 150ms ease-in-out 0s;
}
.radio input[type="radio"]:checked ~ span::after{
    transform: translate(-50%,-50%) scale(1);
}

#submitButton{
    display: block;
    float: right;
    font-size: 15px;
    padding: 5px 30px 5px;
    margin-left: 20px;
}

/*#endregion*/

/*region Login-Register Form*/
.authForm{
    height: 400px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    padding: 70px 30px;
}
.authForm h2{
    color: rgb(255, 50, 118);
    text-align: center;
    margin-bottom: 30px;
}
.authForm #errorMsg{
    color: white;
    text-align: center;
    font-size: 15px;
}
.authForm input{
    display: block;
    margin: 15px 0px;
    width: 100%;
    height: 35px;
}
#loginButton {
    display: block;
    float: right;
    font-size: 15px;
    padding: 5px 30px 5px;
}
.authForm a{
    font-size: 15px;
    color: rgb(255, 50, 118);
    text-decoration: none;
    display: block;
}
.authForm a:hover{
    color: white;
}
#passwordReset{
    width: auto;
    position: absolute;
}
.authButtons{
    position: absolute;
    bottom: 0;
    padding-bottom: 20px;
}

#loginForm{
    display: block;
}

#registerForm{
    display: none;
    height: 490px;
}
/*endregion*/

/*region MyResult*/
#matchInfo{
    color: rgb(255, 50, 118);
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 50%;
    margin-left: -30px;
    transform: translateY(-50%);
}
#matchInfo a{
    text-decoration: none;
    color: rgb(255, 50, 118);
}
#matchInfo a:hover{
    text-decoration: none;
    color: white;
}
/*endregion*/